/web/bundles/
/app/bootstrap*
/app/cache/*
/app/logs/*
/app/Resources/translations/*
/vendor/
/app/config/parameters.yml
/app/config/deploy.rb
znieh.sublime-workspace

composer.phar

/gameserver/node_modules/
/gameserver/config.user.json
/gameserver/db.rar
/gameserver/logs/*.log

*.psd
*DS_Store
npm-debug.log
/node_modules
/web/assets/vendor
/node
.sass-cache/
