<style type="text/css">
#chat {
  width: 600px;
  height: 200px;
  padding: 10px;
  margin: 10px;
  border: 1px dashed gray;
  border-radius: 8px;
}
.chat-message {
  height: 110px;
  overflow: auto;

}
.chat-input {
  width: 100%;
  margin-top: -10px;
}
</style>

Target : <input type="text" id="target" value="test" /><br />
Message : <input type="text" id="msg" value="Hello, World." />
<button id="send" type="button" class="btn btn-primary">Send</button>

<div class="tabbable" id="chat">
  <ul class="nav nav-tabs" id="chat-conversations"></ul>
  <div class="tab-content" id="chat-messages"></div>
</div>

<br /><br />
<pre id="console" style="border: 1px dotted grey; padding: 10px;width: 600px; margin-bottom:"><strong>Console Log :</strong><br /><br /></pre>

<br><br><br><br><br>
