<div class="tabbable" id="chat">
  <ul class="nav nav-tabs" id="chat-conversations">
    <li style="float:right"><a id="close-chat">X</a></li>
  </ul>
  <div class="tab-content" id="chat-messages"></div>
</div>

<p><br /><br /><br /></p>
