/*
 * The base Sass file - include this at the top of each main sass file
 *
 * This is used to setup variables, import mixins, etc
 */

@import "compass/css3";
// setup variable or add more imports here that import mixins (not actual styles)

$white: rgb(255,255,255);
$grey: rgb(126,120,120);
$orange: rgb(248,195,101);
$red: #744c05;
$black-major: rgb(20,20,20);
$black-minor: rgb(35,33,34);


$navbar-default-bg: $black-major;
$navbar-default-color: $white;

// Navbar links
$navbar-default-link-hover-color:          #333 !default;
$navbar-default-link-hover-bg:             $white;
$navbar-default-link-active-color:         #555 !default;
$navbar-default-link-active-bg:            $white;
$navbar-default-link-disabled-color:       #ccc !default;
$navbar-default-link-disabled-bg:          $black-major;


$body-bg: $orange;

// Navbar links
$navbar-default-link-color:                $white !default;
