#leftSide .unit,
#rightSide .unit {
  background: white;
  margin-bottom: 5px;
  border: 1px solid black;
}

#leftSide, #rightSide {
  overflow-x: hidden;
}

#leftSide .selected,
#rightSide .selected {
  background: #d7e9f2;
  border: 1px dashed black;
}

#leftSide .valid,
#rightSide .valid {
  background: #d9fad9;
}
.unit .portrait {
  text-align: center;
  margin-top: 5px;
}

.unit .name {
  font-size: 12px;
  text-align:center;
  font-weight: bold;
  margin-top: -18px;
}

.unit .life {
  margin-top:10px;
  height: 16px;
}

.unit .stats {
  font-size: 12px;
}

#leftSide .unit .skills {
  margin-top: -12px;
  float: left;
}

#rightSide .unit .skills {
  margin-top: -12px;
  float: right;
}

.unit .skills img {
  margin-right: 5px;
  margin-bottom: 5px;
}

#leftSide .infos,
#rightSide .infos {
  background: white;
  margin-bottom: 5px;
  border: 1px solid black;
}

.infos h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.infos .stats {
  font-size: 12px;
}

.infos hr {
  margin: 0px;
}

.infos hr.delimitor {
  margin: 0px;
  margin-top: 10px;
}

#leftSide #myUnits {
  position: relative;
  left: -83%;

  -webkit-transition: all .25s ease-in;
  transition: all .25s ease-in;
}

#leftSide #myUnits:hover {
    left: 0;
}

#rightSide #ennemyUnits {
  position: relative;
  right: -83%;

  -webkit-transition: all .25s ease-in;
  transition: all .25s ease-in;

}

#rightSide #ennemyUnits:hover {
    right: 0;
}

#rightSide h2 {
  text-align: right;
}


#rightSide #myUnits {
  position: relative;
  right: -83%;

  -webkit-transition: all .25s ease-in;
  transition: all .25s ease-in;
}

#rightSide #myUnits:hover {
    right: 0;
}

#leftSide #ennemyUnits {
  position: relative;
  left: -83%;

  -webkit-transition: all .25s ease-in;
  transition: all .25s ease-in;

}

#leftSide #ennemyUnits:hover {
    left: 0;
}
