body {
  padding-top: 70px;
}
.border-after-village {
  display: block;
  height: 30px;
  width: 100%;
  background: $black-minor no-repeat right bottom;
  margin-top: -170px;
}

.after-village-content {
  background: $black-major no-repeat right bottom;
  display: block;
  height: 500px;
  margin: 0;
  padding: 0;
  width: 100%;
}
