/*
 * Author : GreG28
 */

#modalPools .modal-large-pool {
  width:690px;
}

#modalPools .btn-group
{
	width: 640px;
}

#modalPools label
{
	width: 100px;
}

#modalPools .label-P
{
	margin: 0 0 5px;
	font-size: 10px;		
}