/*
 * Represents the main "layout" CSS file
 */

@import "base";
@import "../vendor/sass-bootstrap/lib/bootstrap";
@import "building";
@import "index";
@import "footer";
@import "search";
@import "blog";
@import "chat";
@import "login";
@import "game";

table {
  background: white;
  
}
.navbar-default {
  background-image: url(../../img/background/stone.jpg);
  background-repeat: repeat;
}
.dropdown-menu > li > a > span {
  width: 35px;
  display: inline-block;
}


#menu {
    height:40px;
    margin-bottom:30px;
    padding-left:162px;
}

#menu a.link {
    color:#fff;
    font-size:18px;
    font-family:Arial;
    padding:0px 4px;
    position:relative;
    text-decoration:none;
}

.nav-tabs {
  background: #7e7259;
  border-bottom: none;
}
.nav-tabs a {
  color: #d5b983;
}

.nav-tabs li a:hover {
  background: #534a36;
  border: none;
}

.nav-tabs .active {
  background: #534a36;
  border: none;
}


/**
    Main
**/

/** Fix footer end of page **/
html, body {
  height: 100%;
}

body {
  // font-size: 18px;
  line-height: 32px;
  font-family: 'TeX Gyre Heros';
}

#wrap {
  position: relative;
  margin: 0 auto;
  min-height: 100%;
  width: 100%;
}