parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     null
    database_name:     znieh
    database_user:     root
    database_password: null

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       null
    mailer_password:   null
    mailer_noreply:    no-reply@zniehgames.com

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    app_id_facebook: 111
    app_secret_facebook: 111

    ga_tracking: UA-xxxxx-x
