{% extends '::base.html.twig' %}

{% block body %}
<div class="container">
  {% include 'ZniehVillageGameBundle:Public:listBuilding.html.twig'  with { 'buildings' : buildings, 'active' : 'Village' } %}
</div>
{% endblock %}

