{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Friends list</h1>
    {% if mess != "" %}
    <h6>{{ mess }}</h6>
    {% endif %}
    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.name }}</td>
                <td>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('friends_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
