{% extends "ZniehCoreGameBundle::layout.html.twig" %}

{% block body %}

<div class="modal fade" id="modalFight">
	<div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
		    <h4 class="modal-title">Fight</h4>
		  </div>
		  <div class="modal-body">
		    <p>Click on fight to begin a fight with another players</p>
		    <p>and to join a pool !</p>
	    	<button id="fight" type="button" class="btn btn-primary btn-lg btn-middle">Fight</button>
		  </div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="modalPools">
	<div class="modal-dialog modal-lg modal-large-pool">
		<div class="modal-content">
		  <div class="modal-header">
		    <h4 class="modal-title">Join a Pool</h4>
		  </div>
		  <div class="modal-body">
		    <p>We have to watch the differents pools where the player can fight</p>
			  <div class="btn-group" data-toggle="buttons">
	    	</div>
      </div>

    	<div class="modal-footer">
	    	<button id="join" type="button" class="btn btn-primary" disabled="disabled" data-loading-text="Loading...">Join pool</button>
	 	</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="modalReady">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Are you ready ?</h4>
      </div>
      <div class="modal-body">
        <p>Now you can choose your army ...</p>
        <p>BLALALALALALALALA !!! </p>
      </div>

      <div class="modal-footer">
        <!-- When i'm sure the player are inside the pool ! -->
        <button id="ready" type="button" class="btn btn-primary" data-loading-text="Loading...">Ready</button></em></button>
    </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="modalGameAcceptance">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Other player found</h4>
      </div>
      <div class="modal-body">
        <p>We found another player :</p>
        <p id="p_name">You will fight against </p>
        <p id="p_side">The side where you will play is </p>
        <p id="p_value1">First Value is </p>
      </div>

      <div class="modal-footer">
        <!-- If the player say no we need to find another player to play with -->
        <p>Do you want to fight against this player ?</p>
        <button id="Acceptance_YES" type="button" class="btn btn-primary btn-lg">Yes</button></button>
        <button id="Acceptance_NO" type="button" class="btn btn-lg">No</button>
    </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}

{% block requirejs %}
    {{ include('::_requirejs.html.twig', {'module': 'app/game/search'}) }}

    <script type="text/javascript">
    redirect = function()
    {
      window.location = "{{ path('znieh_coregame_default_index') }}";
    }
    </script>>
{% endblock %}
