{% extends "ZniehCoreGameBundle::layout.html.twig" %}

{% block body %}

<div class="modal fade" id="modalFight">
	<div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
		    <h4 class="modal-title">Combattre</h4>
		  </div>
		  <div class="modal-body">
        <p>Click sur le bouton combattre pour commencer à combattre un autre joueur</p>
        <p>et pour rejoindre une pool !</p>
	    	<button id="fight" type="button" class="btn btn-primary btn-lg btn-middle">Combattre</button>
		  </div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="modalPools">
	<div class="modal-dialog modal-lg modal-large-pool">
		<div class="modal-content">
		  <div class="modal-header">
		    <h4 class="modal-title">Rejoindre une pool</h4>
		  </div>
		  <div class="modal-body">
		    <p>Choisis une des pools proposées pour rejoindre d'autres joueurs</p>
			  <div class="btn-group" data-toggle="buttons">
	    	</div>
      </div>

    	<div class="modal-footer">
	    	<button id="join" type="button" class="btn btn-primary" disabled="disabled" data-loading-text="Loading...">Rejoindre cette pool</button>
	 	</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- <div class="modal fade" id="modalReady">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Are you ready ?</h4>
      </div>
      <div class="modal-body">
        <p>Now you can choose your army ...</p>
        <p>BLALALALALALALALA !!! </p>
      </div>

      <div class="modal-footer">
        <button id="ready" type="button" class="btn btn-primary" data-loading-text="Loading...">Ready</button></em></button>
    </div>
    </div>
  </div>
</div> -->


<div class="modal fade" id="modalGameAcceptance">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Joueur trouvé</h4>
      </div>
      <div class="modal-body">
        <p>Voici les caractéristique de l'autre joueur :</p>
        <p id="p_name">Tu vas combattre </p>
        <p id="p_side">Tu vas joué du coté </p>
        <p id="p_value1">La premiere caractéristique est </p>
      </div>

      <div class="modal-footer">
        <!-- If the player say no we need to find another player to play with -->
        <p>Veux tu combattre ce joueur ?</p>
        <button id="Acceptance_YES" type="button" class="btn btn-primary btn-lg">Oui</button></button>
        <button id="Acceptance_NO" type="button" class="btn btn-lg">Non</button>
    </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}

{% block requirejs %}
    {{ include('::_requirejs.html.twig', {'module': 'app/game/search'}) }}

    <script type="text/javascript">
    redirect = function()
    {
      window.location = "{{ path('znieh_coregame_default_index') }}";
    }
    </script>>
{% endblock %}
