{% extends '::base.html.twig' %}

{% block body -%}
<div class="container">
	<h1>Modifier l'unité</h1>

	{{ form(edit_form) }}
</div>

        <a href="{{ path('village_create_unit') }}">
            Retour
        </a>
{{ form(delete_form) }}
{% endblock %}
