{% extends '::base.html.twig' %}

{% block requirejs %}
    {{ include('::_requirejs.html.twig', { 'module': 'app/create/unit' }) }}
{% endblock %}


{% block body %}
<div class="container">
      <h1>Création d'une nouvelle unité</h1>

      {{ form(form, { 'style': 'horizontal', 'label_col': 3, 'widget_col': 8 }) }}

    <a href="{{ path('village_create_unit') }}">
              Retour
    </a>

</div>
{% endblock %}
