{% extends '::base.html.twig' %}

{% block body -%}
<div class="container">
	<h1>Modifier votre équipe</h1>

	    {{ form(edit_form) }}

	    <a href="{{ path('znieh_unitgame_team_index') }}">
	        Retour
	    </a>
	    {{ form(delete_form) }}
</div>
{% endblock %}
