{% extends '::base.html.twig' %}

{% block body -%}
<div class="container">
	    <h1>Création d'une équipe</h1>

	    {{ form(form, { 'style': 'horizontal', 'label_col' : 2, 'widget_col' : 4}) }}

	     <a href="{{ path('znieh_unitgame_team_index') }}" class="btn btn-default">
	            Retour
	     </a>
</div>

{% endblock %}
